
<!-- template form of edit component  -->

<h3> Update ORDER</h3>
<form  [formGroup]="orderDetails" (ngSubmit)="onUpdate()" novalidate>
  <div>
    
    <input type="text"  id="ItemName" placeholder="Enter Item Name" formControlName="itemName">
    <br>
    <input type="text" class="form-control" id="Name" placeholder="Enter your Name" formControlName="name"><br>
    <input type="text" class="form-control" id="noOfItem" placeholder="Enter No if Items" formControlName="noOfItem"><br>
    <input type="text" class="form-control" id="price" placeholder="Enter Item-price" formControlName="price"><br>
    <input type="text" class="form-control" id="address" placeholder="Enter Your Address" formControlName="address"><br>
    <input type="text" class="form-control" id="phoneNo" placeholder="Enter Your Contact No" formControlName="phoneNo"><br>
    <button type="submit" >Update</button>
  </div>
  
</form>